:root {
    --main-font: "Roboto";
    --secondary-font: "Raleway";
    --accent-txt-color: #2196F3;
    --txt-color: #757575;
    --whte-txt-color: #FFFFFF;
    --dark-txt-color: #212121;

    --items: 3;
    --indent: 30px;
}