.features__list {
    display: flex;
}

.features__item {
    & :not(:last-child){
    margin-right: 30px;
    width: 270px;
    }
}

.features__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #F5F4FA;
}

.features__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--dark-txt-color);
    margin-bottom: 10px;
}

.features__text {
    line-height: 1.71;
    width: 270px;
    height: 75px;
}