.hero {
    background-color: #2F303A;
    text-align: center;
    padding: 200px 0;
}

.hero-overlay {
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/new-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__title {
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--whte-txt-color);
    width: 696px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--whte-txt-color);
    background-color: var(--accent-txt-color);
    cursor: pointer;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #188CE8;
    }

    &:focus {
        background-color: var(--accent-txt-color);
    }
}